APP_NAME="Perpustakaan"
APP_ENV=production
APP_KEY=base64:kei7WjlfowuN/f57rwnDQOnsR8w+WJNhgvALbT76D6M=
APP_DEBUG=false
APP_URL=https://your-app-name.vercel.app

LOG_CHANNEL=stack
LOG_LEVEL=info

DB_CONNECTION=sqlite
DB_DATABASE=/tmp/database.sqlite

SESSION_DRIVER=file
SESSION_LIFETIME=120
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
FILESYSTEM_DISK=local
